.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* height: 90vh; */
    width: 100
	/* background-color: #3463ab;  */
}
 
.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(242, 100%, 50%, 0.1);
    padding: 20px;
    margin: 10px;   
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
    max-width: 20%;
    height: 20%;
    border-radius: 10%;
    margin-bottom: 5px;
    margin-right: 25px;
}
.card .card-title{
    font-family: Arial, sans-serif;
    margin: 1;
    color: hsl(0, 0%, 20%);
}
.card .card-text{
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 30%);
}